h1{background-color:#114514 ; color: white; padding:30px; text-align:center}
h3{text-align:center}
img{align-content: center; margin-left: 34.5em;}
#yourWords{padding:25px;background-color:#114514;color: white}
#theAnswer{padding:25px;background-color:gold;color: black}
#bt1{width: 300px;height: 100px;font-size: 20px;position: absolute;top: 17em;left: 10em;}
#bt2{width: 300px;height: 100px;font-size: 20px;position: absolute;top: 25em;left: 10em;}
#bt3{width: 300px;height: 100px;font-size: 20px;position: absolute;top: 17em;right: 10em;}
#bt4{width: 300px;height: 100px;font-size: 20px;position: absolute;top: 25em;right: 10em;}
